
footer {
    position:fixed !important;
    margin-top: 3rem;
    bottom:0;
    width:100%;
    height:40px; 
 }

fieldset {
    margin-top: 2em;
    margin-bottom: 1em;
}
 .material-icons {
     font-size: 100px;
 }

 /*Este margin lo utilizo en el formulario agregar_persona para que
    el footer no me tape el botón de Volver*/
 .bottom {
     margin-top: 5rem;
 }

 #admin-options{
     margin-top: 3rem;
 }
